.hero-bg {
    background-image: url('./assets/hero-bg.svg');
    background-position: center;
    background-size: cover;
}
.hero-bg2 {
    background-image: url('./assets/bg-cover.svg');
    background-position: center;
    background-size: cover;
}

.text-gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90.88deg, #354CC2 -18.95%, #9AC7E8 111.57%);
}

.text-color {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90.88deg, #9961CB -18.95%, #FB9170 111.57%);
}

.text-color2 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90.88deg, #9961CB -18.95%, #e2609d 111.57%);
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-color3{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #3284D0 -140%, #E3B005 41.57%);
}

.slick-prev,
.slick-next {
    position: absolute !important ;
    top: 114% !important ;
    left: 0 !important ;
    background-color: transparent !important ;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50%;
    padding: 10px !important;
    border: 1px solid rgb(80, 80, 80) !important;
}

.slick-prev {
    left: 1.5rem !important ;
}

.slick-next {
    left: 7rem !important ;
}

.slick-prev:hover,.slick-next:hover{
    background-color: #FB9170 !important;
    color: white !important;
}

.custom-scrollbar {
    height: auto;
    overflow: auto;    
  }
    
.custom-scrollbar::-webkit-scrollbar {
background-color: transparent;
width: 3px;
height: 1.5px;
border-radius: 50pxx;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:black;
    border-radius: 50px;
    width: 3px;
  }

  
  
  

